<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">
<head>
<title>Usuarios</title>
</head>
<body>
	<div layout:fragment="cargarpaginas">

		<div class="title-wrapper pt-30">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="title">
						<h2>Usuarios</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="breadcrumb-wrapper">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Usuarios</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="tables-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="card-style mb-30">
						<div
							class="d-flex align-items-center justify-content-between mb-20">
							<h6 class="mb-0">Lista Usuarios</h6>
							<a th:href="@{/usuario/crearUsuario}"
								class="main-btn primary-btn btn-hover btn-sm"> <i
								class="lni lni-plus me-1"></i> Crear Usuario
							</a>
						</div>
						<div class="table-wrapper table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Cédula</th>
										<th>Nombres</th>
										<th>Apellidos</th>
										<th>Email</th>
										<th>Rol</th>
										<th>Jefe</th>
										<th>Cargo</th>
										<th>Activo</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="indice: ${listausuarios}">
										<td th:text="${indice.idUsuario}"></td>
										<td th:text="${indice.cedula}"></td>
										<td th:text="${indice.nombres}"></td>
										<td th:text="${indice.apellidos}"></td>
										<td th:text="${indice.email}"></td>
										<td th:text="${indice.nombreRol}"></td>
										<td th:text="${indice.nombreJefe}"></td>
										<td th:text="${indice.cargo}"></td>
										<td th:text="${indice.activo}"></td>
										<td>
											<a th:href="@{/usuario/editarUsuario/{id}(id=${indice.idUsuario})}"
												class="btn btn-light"><i class="lni lni-pencil"></i></a>
											<form th:action="@{/usuario/desactivar/{id}(id=${indice.idUsuario})}"
												method="post" style="display: inline;">
												<button type="submit" class="btn btn-light"><i
													class="lni lni-trash-can"></i></button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>