<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">
<head>
<title>Crear Historial Estados</title>
</head>
<body>
	<div layout:fragment="cargarpaginas">

		<div class="title-wrapper pt-30">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="title">
						<h2>Crear Historial Estados</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="breadcrumb-wrapper">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>
								<li class="breadcrumb-item"><a
									th:href="@{/historialEstados}">Historial Estados</a></li>
								<li class="breadcrumb-item active" aria-current="page">Crear</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="card-style mb-30">
			<form th:action="@{/historialEstados/guardar}"
				th:object="${historial}" method="post">
				<div class="mb-3">
					<label for="idSolicitud">ID Solicitud</label> <input type="number"
						th:field="*{idSolicitud}" class="form-control" id="idSolicitud">
				</div>
				<div class="mb-3">
					<label for="idEstadoAnterior">ID Estado Anterior</label> <input
						type="number" th:field="*{estadoAnterior.idEstado}"
						class="form-control" id="idEstadoAnterior">
				</div>
				<div class="mb-3">
					<label for="idEstadoNuevo">ID Estado Nuevo</label> <input
						type="number" th:field="*{estadoNuevo.idEstado}"
						class="form-control" id="idEstadoNuevo">
				</div>
				<div class="mb-3">
					<label for="idUsuarioResponsable">ID Usuario Responsable</label> <input
						type="number" th:field="*{idUsuarioResponsable}"
						class="form-control" id="idUsuarioResponsable">
				</div>
				<div class="mb-3">
					<label for="observaciones">Observaciones</label> <input type="text"
						th:field="*{observaciones}" class="form-control"
						id="observaciones">
				</div>
				<button type="submit" class="main-btn primary-btn btn-hover">
					<i class="lni lni-save me-1"></i> Guardar
				</button>
			</form>
		</div>

	</div>
</body>
</html>