<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">
<head>
<title>Saldo Vacaciones</title>
</head>
<body>
	<div layout:fragment="cargarpaginas">

		<div class="title-wrapper pt-30">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="title">
						<h2>Saldo Vacaciones</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="breadcrumb-wrapper">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Saldo
									Vacaciones</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="tables-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="card-style mb-30">
						<div
							class="d-flex align-items-center justify-content-between mb-20">
							<h6 class="mb-0">Lista Saldos de Vacaciones</h6>
							<a th:href="@{/saldoVacaciones/crearSaldoVacaciones}"
								class="main-btn primary-btn btn-hover btn-sm"> <i
								class="lni lni-plus me-1"></i> Crear Saldo
							</a>
						</div>
						<div class="table-wrapper table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Usuario</th>
										<th>Año</th>
										<th>Días Asignados</th>
										<th>Días Disponibles</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="indice: ${listasaldos}">
										<td th:text="${indice.idSaldo}"></td>
										<td
											th:text="${indice.nombresUsuario} + ' ' + ${indice.apellidosUsuario}"></td>
										<td th:text="${indice.anio}"></td>
										<td th:text="${indice.diasAsignados}"></td>
										<td th:text="${indice.diasDisponibles}"></td>
										<td><a href="" class="btn btn-light"><i
												class="lni lni-pencil"></i></a> <a href="" class="btn btn-light"><i
												class="lni lni-trash-can"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>