<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">
<head>
<title>Solicitudes</title>
</head>
<body>
	<div layout:fragment="cargarpaginas">

		<div class="title-wrapper pt-30">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="title">
						<h2>Solicitudes</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="breadcrumb-wrapper">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/index}">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Solicitudes</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="tables-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="card-style mb-30">
						<div
							class="d-flex align-items-center justify-content-between mb-20">
							<h6 class="mb-0">Lista Solicitudes</h6>
							<a th:href="@{/solicitud/crearSolicitud}"
								class="main-btn primary-btn btn-hover btn-sm"> <i
								class="lni lni-plus me-1"></i> Crear Solicitud
							</a>
						</div>
						<div class="table-wrapper table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Usuario</th>
										<th>Fecha Inicio</th>
										<th>Fecha Fin</th>
										<th>Días</th>
										<th>Motivo</th>
										<th>Estado</th>
										<th>Aprobador</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="indice: ${listasolicitudes}">
										<td th:text="${indice.idSolicitud}"></td>
										<td
											th:text="${indice.nombresUsuario} + ' ' + ${indice.apellidosUsuario}"></td>
										<td th:text="${indice.fechaInicio}"></td>
										<td th:text="${indice.fechaFin}"></td>
										<td th:text="${indice.diasSolicitados}"></td>
										<td th:text="${indice.motivo}"></td>
										<td th:text="${indice.nombreEstado}"></td>
										<td th:text="${indice.nombresAprobador}"></td>
										<td>
											<a th:href="@{/solicitud/editarSolicitud/{id}(id=${indice.idSolicitud})}"
												class="btn btn-light"><i class="lni lni-pencil"></i></a>
											<form th:action="@{/solicitud/desactivar/{id}(id=${indice.idSolicitud})}"
												method="post" style="display: inline;">
												<button type="submit" class="btn btn-light"><i
													class="lni lni-trash-can"></i></button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>